body{
    background-image: url("/Recursos/Media/10.jpg");
    background-size: cover;
    margin:0;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: Cunia;
    src: url("/Recursos/Fonts/Cunia/Cunia.ttf");
    padding: 5em;
    
    
}

.fondoblanco{
    background-color:white;
}
.fondoazul{
    background-color:#06b3fa ;
}

.fondonegro{
    background-color: black;
}
.texto1{
    text-align: center;
    font-size: 5em;
    color:darkgray
}
.texto2{
    font-size: 1em;
    color: white;
    text-align: center;
}

.texto2-1{
    font-size:1em;
    color:white;
    text-align: left;
}
.texto3{
    font-size: 1em;
    text-align:center;
    color:white;
}
.texto4{
    text-align: left;
    font-size: 1em;
    color: white;
}

.imagenEstilo{
    width: 200px;
    text-align: center;
}

.bordeblanco{
    border:10px solid white;
    border-radius: 20px;
}

.icono{
    list-style-image: url(/Recursos/Media/logotipo-de-github.png);
    
}
.icono3{
    list-style-image: url(/Recursos/Media/FES\ ARAGON\ ICON.png);
    
}
.icono2{
    list-style-image: url(/Recursos/Media/580b57fcd9996e24bc43c540.png);
}
    


