body{
    background-image: url("https://live.staticflickr.com/7853/32944951388_ed4c299ec1_b.jpg");
    background-size: cover;
    margin:0;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: Cunia;
    src: url("/Recursos/Fonts/Cunia/Cunia.ttf");
    padding: 5em;
    
    
}
table{
    width: 100%;
}

.fondoblanco{
    background-color:white;
    width: 100%;

}
.fondoazul{
    background-color:#06b3fa ;
}

.fondonegro{
    background-color: black;
    width: 100%;
}
.texto1{
    text-align: center;
    font-size: 5em;
    color:darkgray
}
.texto2{
    font-size: 1em;
    color: white;
    text-align: center;
}

.texto2-1{
    font-size:1em;
    color:white;
    text-align: left;
}
.texto3{
    font-size: 1em;
    text-align:center;
    color:white;
    width: 100%;
}
.texto4{
    text-align: left;
    font-size: 1em;
    color: white;
}

.imagenEstilo{
    width: 200px;
    text-align: center;
}

.bordeblanco{
    border:10px solid white;
    border-radius: 20px;
    width: 100%;
}

.icono{
    list-style-image: url("https://live.staticflickr.com/65535/51616037726_bc004afbc1_o.png");
    
}
.icono3{
    list-style-image: url("https://live.staticflickr.com/65535/51616902700_87f13f5a8f_o.png");
    
}
.icono2{
    list-style-image: url("https://live.staticflickr.com/65535/51616256938_22c2f3cd28_o.png");
}
    


